<html>
    <head>
        <title>Beccie's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Beccie's Blog</a></h1>
        </div>

        <div>
            <p>published: 19.10.19, 15:38</p>
            <h2><a href="">My first post</a></h2>
            <p>I'm really excited to have posted my first article live today. It's not much yet but pleased to have taken the first steps on my web development journey.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>